#layout {
    display: grid;
    grid-template-rows: 590px 590px 590px; 
    grid-template-columns: 400px 400px 400px;
    margin-left: 3%;
  }
  #a {
      background-color:blanchedalmond;
      border-style: solid;
      border-color: rgb(63, 63, 216);
      border-radius: 20px;
      margin: 5%;
  }
  #b {
      background-color: blanchedalmond;
      border-style: solid;
      border-color: rgb(63, 63, 216);
      border-radius: 20px;
      margin: 5%;
  }
  #c {
      background-color: blanchedalmond;
      border-style: solid;
      border-color: rgb(63, 63, 216);
      border-radius: 20px;
      margin: 5%;
  }
  #d {
      background-color: blanchedalmond;
      border-style: solid;
      border-color: rgb(63, 63, 216);
      border-radius: 20px;
      margin: 5%;
  }
  #e {
      background-color: blanchedalmond;
      border-style: solid;
      border-color: rgb(63, 63, 216);
      border-radius: 20px;
      margin: 5%;
  }
  #f {
      background-color: blanchedalmond;
      border-style: solid;
      border-color: rgb(63, 63, 216);
      border-radius: 20px;
      margin: 5%;
  }

  .logo-nom {
      display: grid; 
      text-align: left;
      color:rgb(63, 63, 216); 

  }
