
.title {
  text-align: center;
  font-size: 50px;
  color: #063061; 
  text-shadow: 2px 2px #867575;
  text-decoration: underline;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.backgroundTitle {
  background-color: #DFEEFF;
  padding: 1px;
  border: double #063061;
}


.widget {
  text-align: center;
  font-size: 16px;
  margin: 2em;
  height: 30em;
  background-color: #FCF5E3;
  border-radius: 2em;
}

.widgetTitle {
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline;
  font-weight: bold; 
  background-color: #FFE9B0;
  padding-bottom: 0.5em;
  padding-top: 0.5em;

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.settings {
  text-align: center; ;
  font-weight: bold;
  background-color: #DFEEFF;
}
